<html ng-app="challengeApp">
<head>
	<meta charset="utf8mb4" />
	<title>CIC-Challenge</title>
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheet.css">
</head>
<body ng-controller="FilmsCtrl">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/x2js/1.2.0/xml2json.js"></script>
	<div class="captionTitle">CIC-Challenge</div>
	<script src="app.js"></script>
	<input class="input" type="text" ng-model="search" ng-change="change()">
	<div class="caption">Movies</div>
	<table class="table" >
			<tbody>
					<tr ng-repeat-start="item in items">
							<td class="button"> 
								<button ng-if="item.expanded" ng-click="item.expanded = false">-</button>
								<button ng-if="!item.expanded" ng-click="item.expanded = true">+</button>
							</td>
							<td class="table" >{{item.name}}</td>
					</tr>
					<tr ng-if="item.expanded">
						<td class="captionTable" colspan="2">Locations</td>
					</tr>
					<tr ng-if="item.expanded" ng-repeat-end ng-repeat="child in item.childs track by $index"> 
						<td class="table2" colspan="2">{{child}}</td>
					</tr>
			</tbody>
	</table>
</body>
</html>

