body {
	background: #cacaca;
	margin: 0;
	padding: 20px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}
.input {
	display: block;
	width: 100%;
	height: 35px;
	padding-left: 10px;
	margin-bottom: 6px;
	font-size: 17px;
	line-height: 35px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	box-sizing: border-box;
	text-align: center;
}

.table {
	width: 100%; 
	background: #fff;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
 }

 .button {
	text-align: left;
}

.table2 {	
	width: 100%; 
	background: #d9d9d9;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	font-size: 14px;
}

.caption {
	display: block;
	width: 100%;
	background: #64e0ef;
	height: 55px;
	padding-left: 10px;
	color: #fff;
	font-size: 20px;
	line-height: 55px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	box-sizing: border-box;
	text-align: center;
 }
.captionTitle {
	display: block;
	width: 100%;
	background: #009933;
	height: 55px;
	padding-left: 10px;
	margin-bottom: 6px;
	color: #fff;
	font-size: 30px;
	line-height: 55px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	box-sizing: border-box;
	text-align: center;
}
.captionTable {
	display: table-cell;
	width: 100%;
	background: #8b8b8b;
	height: 35px;
	padding-left: 10px;
	color: #fff;
	font-size: 17px;
	line-height: 35px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	box-sizing: border-box;
	text-align: center;
 }

